doctype html
html.dk_fouc.has-js(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title FBT
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Loading Bootstrap
    link(href='Flat-UI-master/bootstrap/css/bootstrap.css', rel='stylesheet')
    // Loading Flat UI
    link(href='Flat-UI-master/css/flat-ui.css', rel='stylesheet')
    link(href='Flat-UI-master/css/flat-ui.min.css', rel='stylesheet')
    link(rel='shortcut icon', href='images/user_icon/default.png')
    script(src='js/jquery-1.11.min.js', type='text/javascript')
    style.
      .btn:focus {
      outline: 5px auto #FFF;
      }
      h2{font-size: 30px; margin-top: 4px; color: #1abc9c;}
      h5{font-size: 22px; line-height: 30px;}
      .oops{
      font-size: 28px; color: red; font-weight: 900;
      }
      .pTB{
      padding: 10px 0px 10px 0px;
      }
      .glyphicon-warning-sign{
      font-size: 50px;
      }
  body
    br
    br
    br
    br
    br
    .container
      .row
        .col-xs-5(style='text-align: center; border-right:1px dashed #bbb;')
          img.img-responsive.center-block(src='images/loginPic3.png')
          h5 FBT,&#x6709;&#x65F6;&#x4E5F;&#x4F1A;&#x5D29;&#x6E83;:(
        .col-xs-7(style='text-align: center; padding-left:70px;')
          br
          .col-xs-8.oops.pTB
            span.glyphicon.glyphicon-warning-sign
            | &emsp;OOPS~~&#x8F6F;&#x4EF6;&#x51FA;&#x9519;&#x4E86;:(
          .col-xs-8.pTB
            | 对此，我们非常抱歉，请您重启
