/* vim: set sw=2 ts=2 : */
/********************************************************
*   Friendsbt.com
*
*   Author  :   zhangxiaoyang.hit[at]gmail.com
*   Date    :   2015-03-30 23:26
*   Color   :   #1abc9c
*   Font    :   small(12px) normal(14px) middle(18px) large(20px)
*   Width   :   1020px
********************************************************/

.extern.details {
  margin-top: 35px;
}

.extern.details > .row:first-child {
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 127px;
}
.extern.details > .row:first-child > .btn {
  display: inline-block;
  width: 120px;
  padding: 5px 10px;
  font-size: 14px;
  vertical-align: top;
  float: right;
  margin-right: 20px;
}

.extern.details .mask {
  position: fixed;
  height: 50px;
  top: 120px;
  left: 0;
  right: 0px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
}

.extern.details .details-resource {
  margin-bottom: 20px;
}

.extern.details .form-group > input {
  width: 90.5%;
  height: 37px;
}

.extern.details .form-group > button {/*reset button size*/
  vertical-align: top;
  float: right;
  width: 8.2%;
  margin: 0;
}

.extern.details .details-poster {
  margin-right: 20px;
  vertical-align: top;
  width: 200px;
}

.extern.details .details-info {
  display: inline-block;
  border-left: 1px solid lightgrey;
  margin-right: 20px;
}

.extern.details .details-info > * {
  display: block;
  color: grey;
  margin-left: 20px;
}

.extern.details .details-info > label {
  font-size: 18px;
  color: inherit;
  margin-bottom: 10px;
}

.extern.details .details-info > label > :first-child {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  white-space: nowrap;
}

.extern.details .details-info > button.btn {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.extern.details .details-summary {
  display: inline-block;
  vertical-align: top;
  /*width: 50%;*/
  padding: 20px;
  border: 1px solid lightgrey;
  background: rgba(255, 255, 255, 0.8);
  /*max-height: 250px;*/
  overflow: auto;
  /*position: fixed;*/
  right: 10px;
  /*margin-top: 30px;*/

  width: 350px;
  float: right;
}

.extern.details .details-logo {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid lightgrey;
  display: inline-block;
}

.extern.details .details-logo + div {
  display: inline-block;
  vertical-align: top;
}

.extern.details .details-logo + div > span:nth-child(2) {
  font-size: 10px;
  font-style: italic;
}

.extern.details .details-comments {
  margin-top: 10px;
  margin-bottom: 20px;
}

.extern.details .details-more {
  display: block;
  text-align: center;
  /*border: 1px solid lightgrey;*/
  padding: 5px 0;
  cursor: pointer;
}

.extern.details .details-more:hover {
  background: rgba(0, 0, 0, 0.05);
}

.extern.details .douban {
  background: #3ca353;
  color: white;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;
  padding: 2px 5px;
  border-radius: 2px;
  cursor: pointer;
}

.extern.details .message {
  color: #1abc9c;
  cursor: pointer;
}

.extern.details .bad {
  cursor: pointer;
  text-decoration: underline;
  font-size: 12px;
  font-style: normal;
  margin-left: 20px;
}

.extern.details .star-container {
  display: inline-block;
  vertical-align: sub;
}
