/* vim: set sw=2 ts=2 : */
/********************************************************
*   Friendsbt.com
*
*   Author  :   zhangxiaoyang.hit[at]gmail.com
*   Date    :   2015-03-30 23:26
*   Color   :   #1abc9c
*   Font    :   small(12px) normal(14px) middle(18px) large(20px)
*   Width   :   1020px
********************************************************/

.extern.resource-recommendation {
  margin-top: 42px;
}

.extern.resource-recommendation .mask {
  position: fixed;
  height: 50px;
  top: 90px;
  left: 0;
  right: 0px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
}

.extern.resource-recommendation .row > label {
  font-size: 14px;
  margin-right: 50px;
}

.extern.resource-recommendation .row > label + span {
  font-size: 12px;
  color: grey;
}

.extern.resource-recommendation .poster {
  width: 80px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid lightgrey;
  margin-right: 5px;
  cursor: pointer;
}

/*
.extern.resource-recommendation .poster:hover {
  border: 3px solid lightgrey;
}
*/
.extern.resource-recommendation .download,
.extern.resource-recommendation .info {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  overflow: hidden;
}

.extern.resource-recommendation .info > .download > * {
  display: block;
  border-radius: 12px;
  margin-bottom: 5px;
  padding: 5px 15px;
  font-size: 14px;
  outline: 0;
  width: 65%;
}

.extern.resource-recommendation .info > .details > * {
  display: block;
  color: grey;
  font-size: 12px;
}

.extern.resource-recommendation .info > label {
  font-size: 18px;
  color: inherit;
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.extern.resource-recommendation .info > label:hover {
  text-decoration: underline;
}

.extern.resource-recommendation .item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.extern.resource-recommendation .row {
  margin-bottom: 20px;
}

.extern.resource-recommendation > .col-md-2 {
  padding-left: 0;
}

.extern.resource-recommendation > .col-md-2 > div {
  position: fixed;
  width: 15%;
}

.extern.resource-recommendation .course-type > span {
  text-align: center;
  display: block;
  padding: 8px;
  border: 1px solid lightgrey;
  border-top-width: 0;
}

.extern.resource-recommendation .course-type > span:hover {
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.extern.resource-recommendation .course-type > :first-child {
  border-top-width: 1px;
}


.extern.resource-recommendation .course-type > span.selected {
  border-left: 3px solid #1abc9c;
}

.extern.resource-recommendation .course-type > span > button {
  width: 100%;
  font-size: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
