<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" class="dk_fouc has-js">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>FBT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{{ static_url("Flat-UI-master/bootstrap/css/bootstrap.css") }}" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="{{ static_url("Flat-UI-master/css/flat-ui.css") }}" rel="stylesheet">
        <!-- Custom styles for this template -->
    <link href="{{ static_url("Flat-UI-master/css/docs.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/fbt_common.css") }}" rel="stylesheet">

    <link rel="shortcut icon" href="{{ static_url("images/user_icon/default.png") }}">

    <script src="{{ static_url("js/jquery-1.11.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("js/bootstrap-alert.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("js/json.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("js/fbt_common.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("js/jquery.pin.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("js/reconnecting-websocket.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("Flat-UI-master/js/bootstrap.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("Flat-UI-master/js/jquery-ui-1.10.3.custom.min.js") }}">
    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
   
</head>
  <body>
    <div style="display:none" class="wrap_hide"></div>
  <div class="wrap_all">
    <style type="text/css">
      body {
  padding-top: 70px;
}
  .item{
    border-bottom: solid 1px #d8d8d8;
    padding-top: 18px;
    padding-bottom: 18px; 
  }

  .navbar-default .navbar-brand {color: #1abc9c;}
  h2{font-size: 30px; margin-top: 4px;}
  h5{font-size: 22px; line-height: 30px;}
  a:hover, a:focus {text-decoration: underline;}

  .downloadingDiv{padding-right: 0px; height: 40px;}
  .downloadingRow{padding-top: 10px;}
  .downloadingCancelDiv{color: red; height: 40px;}
  .downloadingCancelA{color: red;}
  .downloadingRow12{}
  .doneWithComment{text-align: right;}

  .myTextArea{width: 100%; border: solid 2px #1abc9c;}
  textarea:focus{outline: #1abc9c auto 4px;}
  .tfh{padding-top: 6px;}

  .score{float: left; width: 50%; padding-bottom: 6px; color: red;}
  .pzx{display: inline-block; width: 50%; text-align: center; padding-bottom: 6px;}


.fileInput{border: none; font-size: 18px; width: 100%;}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
outline: none;
}        

.button::-webkit-file-upload-button {
  visibility: hidden;
}
.button:before {
  content: '选择文件';
  display: inline-block;
  background: #1abc9c;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 15px;
  color: white;
}
.button:hover:before {
  border-color: black;
}
.button:active:before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

        /*这两行CSS模拟了flatUI典型的input样式*/
        input{border: 2px solid #dce4ec; color: #34495e; border-radius: 6px;
              transition: border linear .2s,box-shadow linear .2s;}
        input:focus{border-color: #1abc9c; -webkit-box-shadow: none;
                    -moz-box-shadow: none; box-shadow: none; outline: none;}
        input{display: block; margin-bottom: 6px; width: 100%; height: 42px;}
    .read{
      color: #999;
    }
    .unRead{
      color: black;
    }
    </style>
    <div id="nav" style="display:none">
      <b class="user">{{ current_user }}</b>
    </div>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <b class="navbar-brand">FBT</b>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"></a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-hdd"></span>&nbsp;资源库<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">电影</a></li>
                <li><a href="#">动漫</a></li>
                <li><a href="#">竞技</a></li>
                <li role="presentation" class="divider"></li>
                <li class="dropdown-header">其它</li>
                <li><a href="#">软件</a></li>
                <li><a href="#">学习</a></li>
              </ul>
            </li>

            <li  class="myActive"><a href="myInformation.html">
              <span class="glyphicon glyphicon-folder-close"></span>&nbsp;我的资源</a>
            </li>

            <li  class="myActive"><a href="javascript:void(0)" data-toggle="modal" data-target="#uploadModal">
              <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;上传资源</a>
            </li>            
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/myInfo">{{ current_user }}</a></li>
            <li><a href="/mySpace"><span class="glyphicon glyphicon-user"></span>个人空间</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                
                <span class="glyphicon glyphicon-bell"></span>
                通知
                <span class="badge msg_count">{{count}}</span>
              </a>
              <ul class="dropdown-menu msg">
                {% for item in msg %}
                  {% if item["isRead"] %}
                    <li><b class="read">{{item["content"]}}</b></li>
                  {% else %}
                    <li><b class="unRead" onclick="handle(&apos;{{item['id']}}&apos;, &apos;{{item['sender']}}&apos;)">{{item["content"]}}&nbsp;{{item["time"]}}</b></li>
                  {% end %}
                {% end %}
                <li style="display:none"><a href="#">space</a></li>
                <!-- <li class="divider"></li>
                <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
            <li><a href="#" onclick="quit()">退出</a></li>
            <!--
            <li><a href="javascript:void(0)" onclick="showDownloads()">
                  <span class="glyphicon glyphicon-cloud-download"></span>我的下载
                </a>
            </li>
            -->
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">

      <div class="row item"><!--一个电影row的开始-->
        <div class="col-xs-3">
          <img src="{{ static_url("images/movie.jpg") }}" class="img-responsive center-block img-rounded"> 
        </div>
        <div class="col-xs-8">

          <a href="#"><h2>宠物/卑鄙的我2番外篇:宠物/Despicable Me 2</h2></a>
          <p>神偷奶爸（卑鄙的我）是由克里斯·雷诺德Chris Renaud和 皮埃尔·科芬Pierre Coffin 导演的，申科·保罗Cinco Paul和 肯·达里奥Ken Daurio 编剧的，史蒂夫·卡瑞尔Steve Carell 杰森·赛格尔Jason Segel 拉塞尔·布兰德Russell Brand 威尔·阿奈特Will Arnett 朱莉·安德鲁斯Julie Andrews 等人主演的喜剧动画，2010年7月在美国上映。 
          </p>

              <div class="score">
                评分：9.1 
                <a data-toggle="collapse" data-toggle="collapse" href="#collapseAllComment">(查看8888人评论)</a>
              </div>

            <div class="pzx">
            <a data-toggle="collapse" href="#collapseMyComment">评论| </a>
            <a href="#">转发| </a>
            <a data-toggle="collapse" href="#collapseMyDownload">下载</a>
            </div>

        
        <div id="collapseAllComment" class="collapse">
          <div class="row">
            <div class="col-xs-12">
              评论全部放在这里<br>
              评论全部放在这里<br>
              评论全部放在这里<br>
              评论全部放在这里
            </div>
          </div>
        </div>

        <div id="collapseMyComment" class="collapse myCollapse">
          <div class="row">
            <div class="col-xs-10">
              <textarea rows="4" class="myTextArea" placeholder="发表观后感吧(1000字最多)..."></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 tfh">
              <span class="glyphicon glyphicon-picture">图片</span>
              <span class="glyphicon glyphicon-paperclip">附件</span>
              <span >@好友</span>
            </div>

            <div class="col-xs-2 checkbox">
            <!--
              <label>
                <input type="checkbox">转发给粉丝
              </label>
              -->
            </div>

            <div class="col-xs-2 doneWithComment">
              <button type="button" class="btn btn-sm btn-success doneWithCommentBtn">完成评论</button>
            </div>
          </div><!--评论第二行-->

        </div><!--collapseMyComment-->

<div id="collapseMyDownload" class="collapse">
<br>
          <div class="row downloadingRow12">
            <div class="col-xs-3 downloadingDiv downloadCol">40M/100M&emsp;&emsp;40%</div>
            <div class="col-xs-6 downloadingRow">

<div class="progress progress-striped">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% Complete (success)</span>
  </div>
</div>
            </div>

            <div class="col-xs-2 downloadingCancelDiv downloadCol">
            <a class="downloadingCancelA" href="javascript:void(0)" onclick="pauseDownload()">
              <span class="glyphicon glyphicon-pause"></span>
              &emsp;
            </a>

            <a class="downloadingCancelA" href="javascript:void(0)" onclick="cancelDownload()">
              <span class="glyphicon glyphicon-remove"></span>
            </a>            
            </div>

          </div>        

        </div><!--col-9-->
      </div>
</div><!--一个电影row的结束-->




<!--
 ================一个电影信息========================
-->


      <div class="row item"><!--一个电影row的开始-->
        <div class="col-xs-3">
          <img src="{{ static_url("images/movie.jpg") }}" class="img-responsive center-block img-rounded"> 
        </div>
        <div class="col-xs-8">

          <a href="#"><h2>宠物/卑鄙的我2番外篇:宠物/Despicable Me 2</h2></a>
          <p>神偷奶爸（卑鄙的我）是由克里斯·雷诺德Chris Renaud和 皮埃尔·科芬Pierre Coffin 导演的，申科·保罗Cinco Paul和 肯·达里奥Ken Daurio 编剧的，史蒂夫·卡瑞尔Steve Carell 杰森·赛格尔Jason Segel 拉塞尔·布兰德Russell Brand 威尔·阿奈特Will Arnett 朱莉·安德鲁斯Julie Andrews 等人主演的喜剧动画，2010年7月在美国上映。 
          </p>

              <div class="score">
                评分：9.1 
                <a data-toggle="collapse" data-toggle="collapse" href="#collapseAllComment">(查看8888人评论)</a>
              </div>

            <div class="pzx">
            <a data-toggle="collapse" href="#collapseMyComment">评论| </a>
            <a href="#">转发| </a>
            <a data-toggle="collapse" href="#collapseMyDownload">下载</a>
            </div>

        
        <div id="collapseAllComment" class="collapse">
          <div class="row">
            <div class="col-xs-12">
              评论全部放在这里<br>
              评论全部放在这里<br>
              评论全部放在这里<br>
              评论全部放在这里
            </div>
          </div>
        </div>

        <div id="collapseMyComment" class="collapse myCollapse">
          <div class="row">
            <div class="col-xs-10">
              <textarea rows="4" class="myTextArea" placeholder="发表观后感吧(1000字最多)..."></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 tfh">
              <span class="glyphicon glyphicon-picture">图片</span>
              <span class="glyphicon glyphicon-paperclip">附件</span>
              <span >@好友</span>
            </div>

            <div class="col-xs-2 checkbox">
            <!--
              <label>
                <input type="checkbox">转发给粉丝
              </label>
              -->
            </div>

            <div class="col-xs-2 doneWithComment">
              <button type="button" class="btn btn-sm btn-success doneWithCommentBtn">完成评论</button>
            </div>
          </div><!--评论第二行-->

        </div><!--collapseMyComment-->

<div id="collapseMyDownload" class="collapse">
<br>
          <div class="row downloadingRow12">
            <div class="col-xs-3 downloadingDiv downloadCol">40M/100M&emsp;&emsp;40%</div>
            <div class="col-xs-6 downloadingRow">

<div class="progress progress-striped">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% Complete (success)</span>
  </div>
</div>
            </div>

            <div class="col-xs-2 downloadingCancelDiv downloadCol">
            <a class="downloadingCancelA" href="javascript:void(0)" onclick="pauseDownload()">
              <span class="glyphicon glyphicon-pause"></span>
              &emsp;
            </a>

            <a class="downloadingCancelA" href="javascript:void(0)" onclick="cancelDownload()">
              <span class="glyphicon glyphicon-remove"></span>
            </a>            
            </div>

          </div>        

        </div><!--col-9-->
      </div>
</div><!--一个电影row的结束-->


<!--
 ================一个电影信息========================
-->


    </div> <!-- /container -->
 




<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="row">
          <div class="col-xs-2"><img src="{{ static_url("images/user_icon/fbtLogo.png") }}" class="img-responsive"></div>
          <div class="col-xs-9"><h5>FBT: 快乐源于 <span style="background-color: #1abc9c; color:white; font-weight: bold;">&emsp;分享!&emsp;</span></h5></div>
        </div>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-xs-12">
            <div class="row" style="padding-bottom: 6px;">
              <div class="col-xs-4">
                <input type="file" class="button fileInput" id="exampleInputFile" title="do">
              </div>

              <div class="col-xs-4">
                <select class="form-control">
                  <option>频道1</option>
                  <option>频道2</option>
                  <option>频道3</option>
                </select>
              </div>

              <div class="col-xs-4">
                <select class="form-control">
                  <option>标清(默认)</option>
                  <option>高清</option>
                  <option>超高清</option>
                </select>
              </div>
            </div>
            <input id="resourceName" type="text" value="" placeholder="请填写名称"/>
            <input id="resourceLabel" type="text" value="" placeholder="请填写资源标签,如科幻、漫画改编"/>

            <!--
            <input type="text" class="tags" value="Amsterdam,Washington,Sydney,Beijing,Cairo" placeholder="Add tags" />-->
            <textarea rows="4" class="myTextArea" placeholder="一句话点评下？140字:-)"></textarea>
            <!--<button class="btn btn-large btn-primary btn-block" style="width: 90%;">发布</button>-->
          </div>
        </div>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-large btn-primary">发 布</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
  $(".dropdown-menu li > b").css($(".dropdown-menu li > a"));
  $('.doneWithCommentBtn').click(function(){
  alert("完成评论！:)");
  });
  $("#collapseMyComment").collapse('hide');
  function handle(id, sender){
    var param = {}
      param["op"] = 2;
      param["user"] = sender;
      param["id"] = id;
      var that = this
      $.post('/myFriend', param, function(data, textStatus, xhr) {
        /*optional stuff to do after success */
        console.log(data);
        data = $.parseJSON(data)
        if(data["type"] && data["type"] == 1)
        {
          $(that).removeClass('unRead').addClass('read')
          /*data = $.parseJSON(data["result"])*/
          alert(data["result"]["result"])
        }
        else{
          alert(data["error"])
        }
      });
  }
  createSock();
</script>
  </div>
    <!-- Load JS here for greater good =============================-->
    <script src="{{ static_url("Flat-UI-master/js/jquery.ui.touch-punch.min.js") }}">
    </script>
    <script src="{{ static_url("Flat-UI-master/js/bootstrap-select.js") }}">
    </script>
    <script src="{{ static_url("Flat-UI-master/js/bootstrap-switch.js") }}">
    </script>
    <script src="{{ static_url("Flat-UI-master/js/flatui-checkbox.js") }}">
    </script>
    <script src="{{ static_url("Flat-UI-master/js/flatui-radio.js") }}">
    </script>
    <script src="{{ static_url("Flat-UI-master/js/jquery.tagsinput.js") }}">
    </script>
    <script src="{{ static_url("Flat-UI-master/js/jquery.placeholder.js") }}">
    </script>
    <script src="{{ static_url("Flat-UI-master/js/video.js") }}">
    </script>
    <script src="{{ static_url("Flat-UI-master/js/application.js") }}">
    </script>
  </body>
</html>
