<!DOCTYPE html>
<html>
    <head>
        <title>校园星空在线二维码生成</title>

        <meta charset="utf-8" />
        <meta name="description" content="Online QR Code Generator" />
        <link href="http://pyqr.sinaapp.com/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
    <div id="main" style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);">
        <img src="/shops_qrcode?user_mail={{user_mail}}&bar_size={{bar_size}}&error_degree={{error_degree}}">
        <div style="text-align: center"><div style="display: inline-block;"><h2>请使用微信或者QQ扫码支付</h2></div></div>
    </div>
    </body>
</html>
